.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
/dist/
/build/
/.mypy_cache/
/.pytest_cache/
/coverage/
/htmlcov/
/.ruff_cache/
/migrations/versions/__pycache__/

node_modules/
.idea/
.vscode/

